.menu {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 30;
  font-size: 1.5rem;
}

.shadow {
  filter: drop-shadow(0px 0px 3px rgb(146, 45, 255));
}

@keyframes anim {
  from {
    opacity: 0;
    transform: translateX(25px);
  }

  to {
    opacity: 1;
    transform: translateX(-10px);
  }
}

@keyframes burguerContent {
  from {
    opacity: 0;
    transform: translateY(-10rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.landing {
  animation: burguerContent 300ms ease;
}

.proyectos {
  animation: burguerContent 400ms ease;
}

.aboutMe {
  animation: burguerContent 500ms ease;
}

.tech {
  animation: burguerContent 600ms ease;
}

.contact {
  animation: burguerContent 700ms ease;
}

.anim {
  animation: anim 500ms ease;
}

.closeButton {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 30;
  font-size: 1.5rem;
  background-color: transparent;
  filter: drop-shadow(4px 3px 2px rgb(146, 45, 255));
  transform: translateX(-10px);
}

.principalButton {
  background-color: transparent;
  filter: drop-shadow(4px 3px 2px rgb(146, 45, 255));
}

.menuContent {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menuContent a {
  filter: drop-shadow(4px 3px 2px rgb(146, 45, 255));
  margin: 1rem;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.buttonX {
  background-color: transparent;
}