.shadowContainer {
    filter: drop-shadow(0px 0px 10px rgb(123, 0, 255));
}

.logos {
    filter: drop-shadow(0px 0px 6px rgb(146, 45, 255));
}

.texto {
    filter: drop-shadow(0px 0px 1px rgb(146, 45, 255));
}

@keyframes anim {
    from {
        opacity: 0;
        transform: translateX(15rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes border {
    0% {
        filter: drop-shadow(0px 0px 5px rgb(181, 20, 255));
    }

    25% {
        filter: drop-shadow(0px 0px 15px rgb(181, 20, 255));

    }

    50% {
        filter: drop-shadow(0px 0px 10px rgb(62, 0, 91));
    }

    75% {
        filter: drop-shadow(0px 0px 15px rgb(181, 20, 255));

    }

    100% {
        filter: drop-shadow(0px 0px 5px rgb(174, 0, 255));
    }
}

.anim {
    animation: anim 2.5s ease;
}

.border {
    animation: border 8s infinite ease-in-out, anim 2.5s ease;
}

.shadow {
    animation: border 5s infinite ease;
}