#root {
  text-align: center;
  height: 100%;
}

.upButton {
  width: 4%;
  height: 9%;
  background-color: rgb(81, 14, 163);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  bottom: 5%;
  right: 2%;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.upButton:hover {
  transform: scale(1.2);
  background-color: rgb(48, 0, 111);
  color: white;
  filter: drop-shadow(0px 0px 3px rgb(255, 255, 255));
}

.upButton.show {
  animation: show 400ms ease-in-out forwards;
}

.upButton.hide {
  animation: hide 200ms ease-in-out forwards;
}

.menu{
  display: none;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.shadow {
  filter: drop-shadow(0px 0px 3px rgb(146, 45, 255));
}

@media screen and (max-width: 800px) {
  #navBar {
    display: none;
  }
}

@media screen and (min-width: 801px) {
  #burguerMenu {
    display: none;
  }
}

@media screen and (min-width: 300px) and (max-width: 700px) {
  .upButton {
    width: 17%;
  }
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
  .upButton {
    width: 12%;
  }
}